<div class="app-about-container">
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="three wide column"></div>
        <div class="six wide column">
          <img src="../../assets/images/profile_color.jpeg" class="ui large bordered image">
        </div>
        <div class="four wide  column ui align center">
          <h3>Hi! Hello! Ciao!</h3>
          <br>
          <p>I currently work as a Web Developer at Georgia State University in Atlanta, GA where I design apps that bridge the gap between funded researchers and research administration.</p>
          <p>With a strong creative background, I strive to create functional, yet beautiful applications.</p>
          <p>In my spare time you can find me thrifting vintage finds, spending time with family or seaking out the nearest beach.</p>
        </div>
        <div class="one wide column"></div>
      </div>
    </div>
  </div>
</div>
