.app-container {
    height: 100%;
}

.item {
    color: white !important;
}

a {
    color: white !important;
    text-decoration: none !important;
    cursor: pointer;
}

.icon {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
}

#background {
    opacity: 0.8; 
    background-size: cover;
}

.menu {
    height: 22em;
}

.right.menu {
    padding-bottom: 14em;
}

.left-menu {
    padding-top: 1em;
}

.ui.vertical.stripe {
    padding: 6em 0em !important;
}

.media {
    /* background-color: #F2F2F2 !important; */
    border-bottom: none !important;
}

.ui.vertical.footer {
    padding: 6em 0em !important;
}

.insta {
    width: 6em;
}

.media {
    height: 30em;
}

#copyright {
    /* margin-bottom: 0 !important;  */
    font-size: .8em;
}

#footer {
    background-color: #F2F2F2 !important;
}

@media only screen and (max-width: 767px) {
  .insta {
    width: 10em !important;
  }

  .social {
    text-align: left !important;
  }

  .media {
      height: 190%;
  }
}
