<div class="app-container">
    <div class="ui top attached secondary stackable menu" id="background" style="background-image:url('../../assets/images/background.jpg');">
        <div class="left-menu">
            <div class="ui item">
                <a [routerLink]="['/home']">
                    <img src="../../assets/images/sblogofull2.jpg">
                </a>
            </div>
        </div>
        <div class="right menu">
            <div class="ui item">
                <a [routerLink]="['/about']">ABOUT</a>
            </div>
            <div class="ui item">
                <a (click)="goToTumblr()">
                    BLOG
                </a>
            </div>
            <div class="ui item">
                <a (click)="goToGithub()">
                    WORK
                </a>
            </div>
            <div class="ui item">
                <a [routerLink]="['/contact']">
                    CONTACT
                </a>
            </div>    
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="ui vertical stripe segment media">
        <div class="ui stackable grid container">
            <div class="row">
                <div class="twelve wide left floated column">
                    <p>@DAYDREAMSONVINYL</p>
                    <br>
                    <div *ngIf="mobileDevice === false">
                        <div class="ui six column grid">
                            <div class="column" *ngFor="let photo of photos | slice:0:6">
                                <a href="{{ photo.link }}">
                                    <img class="insta" src="{{ photo.images.thumbnail.url }}">
                                </a>
                            </div>
                            <div class="column" *ngFor="let photo of photos | slice:7:13">
                                <a href="{{ photo.link }}">
                                    <img class="insta" src="{{ photo.images.thumbnail.url }}">
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="mobileDevice">
                        <div class="ui center aligned grid">
                            <div class="eight wide column" *ngFor="let photo of photos | slice:0:6">
                                <a href="{{ photo.link }}">
                                    <img class="insta" src="{{ photo.images.thumbnail.url }}">
                                </a>
                            </div>
                        
                            <div class="eight wide column" *ngFor="let photo of photos | slice:7:13">
                                <a href="{{ photo.link }}">
                                    <img class="insta" src="{{ photo.images.thumbnail.url }}">
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="three wide right floated right aligned column social">
                    <a (click)="goToGithub()">
                        <i class="github large icon"></i>
                    </a>
    
                    <a (click)="goToLinkedin()">
                        <i class="linkedin large icon"></i>
                    </a>
    
                    <a (click)="goToInstagram()">
                        <i class="instagram large icon"></i>
                    </a>
                    <a (click)="goToTumblr()">
                        <i class="tumblr square large icon"></i>
                    </a>
                    <a (click)="goToPinterest()">
                        <i class="pinterest large icon"></i>
                    </a>
                </div>
            </div>
            

            <!-- <div class="row">
                <div class="sixteen wide column">
                    <div class="ui text center aligned container">
                        <br>
                        <h5>SARAH BESOZZI, &nbsp; ATLANTA, GA &nbsp; &nbsp; &nbsp;&nbsp; SARAH.BESOZZI@GMAIL.COM</h5>
                        <span>&copy; 2018 SARAH BESOZZI</span>
                    </div>
                    <!-- <br>
                    <div>
                        
                    </div>
                </div>
            </div> -->
        </div>  
        <!-- <div class="ui container">
            <div class="ui inverted divided equal height stackable grid"></div>
        </div> -->
    </div>
    <div class="ui vertical footer center aligned segment">
        <div class="ui text container">
            <h5>SARAH BESOZZI, &nbsp; ATLANTA, GA &nbsp; &nbsp; &nbsp;&nbsp; SARAH.BESOZZI@GMAIL.COM</h5>
        </div>
        <br>
        <div>
            <span id="copyright">&copy; 2018 SARAH BESOZZI</span>
        </div>
    </div>
</div>
