.app-container {
    height: 100%;
}

.item {
    color: white !important;
}

a {
    color: white !important;
    text-decoration: none !important;
    cursor: pointer;
}

.icon {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
}

#background {
    opacity: 0.8; 
    background-size: cover;
}

.menu {
    height: 22em;
}

.right.menu {
    padding-bottom: 14em;
}

.left-menu {
    padding-top: 1em;
}

.ui.vertical.stripe {
    padding: 6em 0em !important;
}

.media {
    background-color: #F2F2F2 !important;
}

.ui.vertical.footer {
    padding: 6em 0em !important;
}


.ui.vertical.footer {
    padding: 6em 0em !important;
}

.insta {
    width: 7em;
}

.insta-row {
    padding-bottom: 0 !important;
    padding-top: 6px !important;
}

.media {
    height: 30em;
}

#copyright {
    margin-bottom: 0 !important; 
}
