<div class="app-container">
    <div class="ui top attached secondary menu" id="background" style="background-image:url('../../assets/images/background.jpg');">
       
        <a class="item" [routerLink]="['/home']">
            <img src="../../assets/images/sblogo.jpg">
        </a>
        
        <div class="right menu">
            <div class="ui item" [routerLink]="['/about']">
                ABOUT
            </div>  
            <div class="ui item"[routerLink]="['/work']">
              WORK
            </div>
            <div class="ui item">
                <a href="http://daydreamsonvinyl.tumblr.com">
                     BLOG
                </a>
            </div>
        </div>
    </div>
    <!-- <div>
        <div id="background" class="ui vertical stripe segment" style="background-image:url('../../assets/images/background.jpg');">
            
        </div>
    </div> -->
    <!-- <app-home></app-home> -->
    <!-- <app-body></app-body> -->
    <router-outlet></router-outlet>


</div>


