.app-container {
    height: 100%;
}

.item {
    color: white !important;
}

a {
    color: white !important;
}
#background {
    /* background-image: url('../../assets/images/IMG_2535.jpg'); */
    opacity: 0.7; 
    background-size: cover;
}

.menu {
    height: 22em;
}
