<div class="app-home-container">
  <!-- <div class="ui vertical stripe segment">
   
  </div> -->

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="three wide column"></div>
        <div class="six wide column">
          <img src="../../assets/images/profile.jpeg" class="ui large bordered image">
        </div>
        <div class="four wide  column ui align center">
          <h5>web developer | creator</h5>
        </div>
        <div class="one wide column"></div>

      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment media">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <p>@DAYDREAMSONVINYL</p>
        </div>
        <div class="six wide right floated column">
          <a href="https://github.com/sbesozzi">
            <i class="github large icon"></i>
          </a>
          
          <a href="https://www.linkedin.com/in/sarahbesozzi">
            <i class="linkedin large icon"></i>
          </a>
          
          <a href="https://github.com/sbesozzi">
            <i class="instagram large icon"></i>
          </a>
          <a href="http://daydreamsonvinyl.tumblr.com">
            <i class="tumblr square large icon"></i>
          </a>

        </div>
      </div>
    </div>


    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        

      </div>
    </div>
  </div>
  
  <div class="ui inverted vertical footer segment">
    <div class="ui text container">
      <h5 class="">SARAH BESOZZI,&nbsp; ATLANTA, GA &nbsp; &nbsp; &nbsp;&nbsp; SARAH.BESOZZI@GMAIL.COM</h5>
    
    </div>
  </div>
</div>
