.app-home-container {
    height: 30%;
}
.ui.vertical.stripe {
    padding: 6em 0em !important;
}

.media {
    background-color: #F2F2F2 !important;
}

.ui.vertical.footer {
    padding: 6em 0em !important;
}

a {
    color: black !important;
}

p, h3 {
    color: grey !important;
}
