<div class="app-home-container">
  <!-- <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="three wide column"></div>
        <div class="six wide column">
          <img src="../../assets/images/sblogofull.jpeg" class="ui large bordered image">
       

        </div>
        <div class="four wide  column ui align center">
     

        </div>
        <div class="one wide column"></div>
      </div>
    </div>
  </div>   -->
</div>
