<div class="app-home-container">

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <img class="ui large bordered rounded image">
        </div>
        <div class="six wide right floated column">
          <p>web developer | creator</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted vertical stripe segment media">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid"></div>
    </div>
  </div>
  
  <div class="ui inverted vertical footer segment">
    <div class="ui text container">
      <h6 class="">SARAH BESOZZI, ATLANTA, GA SARAH.BESOZZI@GMAIL.COM</h6>
    
    </div>
  </div>
</div>
