<div class="app-work-container">
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="three wide column"></div>
        <div class="six wide column">
          <!-- <img src="../../assets/images/profile.jpeg" class="ui large bordered image"> -->
        </div>
        <div class="four wide  column ui align center">
          <!-- <h5>web developer | creator</h5> -->
        </div>
        <div class="one wide column"></div>
      </div>
    </div>
  </div>
</div>